{% extends "base.html" %}
{% block content %}
<div id="runtime-section">
  {% include "partials/running_panels.html" %}
  {% include "partials/clone_panel.html" %}
  {% include "partials/runtime_controls.html" %}
</div>

<div id="modeling-section" style="display:none">
  {% include "partials/modeling_view.html" %}
</div>

<hr class="section-divider">

<div id="editor-section">
  <section id="panel-config-section" hx-target="this" hx-swap="innerHTML">
    {% include "partials/panel_config.html" %}
  </section>

  {% include "partials/panel_source.html" %}

  <section id="sim-config-section" hx-target="this" hx-swap="innerHTML">
    {% include "partials/sim_config.html" %}
  </section>

  <section id="entity-list-section" hx-target="this" hx-swap="innerHTML">
    {% include "partials/entity_list.html" %}
  </section>
</div>
{% endblock %}
